* {
    cursor: none;
}

body {
    color: #E0E0E0;
    background-color: #101010;
}

#overlay-aim {
    position: fixed;
    z-index: 100;
    pointer-events: none;

    opacity: 30%;

    width: 100%;
    height: 100%;
}

#pinpoint {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 2px;
}

#aimline-1 {
    position: absolute;
    margin: auto;
    width: 2px;
    height: 200%;

    background-color: #E0E0E0;
}

#aimline-2 {
    position: absolute;
    margin: auto;
    width: 200%;
    height: 2px;
    background-color: #E0E0E0;
}

#info-container {
    overflow: hidden;

    position: relative;

    background-color: #101010;
    height: 400px;
    width: 100%;

    text-align: center;
    font-family: monospace;
}

#spiral {
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;

    overflow: hidden;
    animation: rotate 3s infinite linear;

    opacity: 0.01;
    scale: 2;

    width: auto;
    height: 400px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.vertical-center {
    position: relative;
    width: 100%;
    top: calc(25% + 20px);
}

#trollge-container {
    position: relative;
}

#trollge {
    width: 90px;
    height: auto;

    padding-bottom: 20px;
}

#name {
    position: relative;
    font-size: 50px;
}

#whoami {
    position: relative;
    font-size: 20px;
}


.dock {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-height: 600px;

    border-width: 2px;
    border-style: solid;
    border-color: #E0E0E0;

    justify-content: center;
    align-items: center;
}

.dock-image {
    position: relative;
    display: block;
    max-width: 90%;
    max-height: 400px;

    padding: 15px;

    filter: drop-shadow(0px 0px 10px black);
    left: 0px;
    right: 0px;
    margin: auto;

    transition: transform 0.2s;
}

.dock-image:hover {
    animation: horizontal-shaking 0.2s linear infinite;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.dock-marquee {
    position: relative;
    top: auto;
    bottom: 0px;

    width: 100%;
    height: auto;
    background-color: #E0E0E0;

    overflow: hidden;
    /*text-align: center;*/
}

.marquee-wrapper {
    position: relative;
    width: fit-content;
}

.dock-marquee a {
    position: relative;

    font-family: monospace;
    font-size: 15px;
    color: #101010;
    line-height: 25px;
}

#blinkies-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 1000px;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#blinkies a:hover {
    filter: drop-shadow(0px 0px 10px #606080);
}




