
<div id="build-to-serve" class="dock">
  <div>

    <a>

      <img class="dock-image transparent" src="media/misc/build-to-serve.png"/>
    </a>
  </div>
  <div class="dock-marquee">
    <div class="marquee-wrapper">


      <a>&gt;&gt; These docks were all served by yours truly &lt;&lt;</a>


    </div>
  </div>
</div>

<div id="github" class="dock">
  <div>

    <a href="https://github.com/pandadiestro" target="_blank">

      <img class="dock-image transparent" src="media/misc/github-logo.png"/>
    </a>
  </div>
  <div class="dock-marquee">
    <div class="marquee-wrapper">


      <a>&gt;&gt; My very own</a>



      <a href="https://github.com/pandadiestro" target="_blank">github©</a>



      <a>profile &lt;&lt;</a>


    </div>
  </div>
</div>

<div id="gitlab" class="dock">
  <div>

    <a href="https://gitlab.com/pandadiestro" target="_blank">

      <img class="dock-image transparent" src="media/misc/gitlab-logo.png"/>
    </a>
  </div>
  <div class="dock-marquee">
    <div class="marquee-wrapper">


      <a>&gt;&gt; It&#39;s been</a>



      <a href="https://medium.com/@kanani-nirav/gitlab-dev-deletes-entire-production-database-719756f4a2ce" target="_blank"></a>



      <a>since the last major incident!!! &lt;&lt;</a>


    </div>
  </div>
</div>

<script src="app/gitlab-days.js"></script>

<div id="learning" class="dock">
  <div>

    <a href="https://gitlab.com/PandaDiestro/born-to-learn" target="_blank">

      <img class="dock-image transparent" src="media/misc/learning.png"/>
    </a>
  </div>
  <div class="dock-marquee">
    <div class="marquee-wrapper">


      <a>&gt;&gt; Surely one of the</a>



      <a href="https://arxiv.org/pdf/2401.02964.pdf" target="_blank">things</a>



      <a>to do ever &lt;&lt;</a>


    </div>
  </div>
</div>
